# Exécutables et binaires
hello
test_hello
*.out
*.exe
*.tmp

# Fichiers objets
*.o
*.obj

# Bibliothèques
*.a
*.so
*.dylib

# Fichiers système macOS
.DS_Store

# Fichiers d'éditeurs et IDE
.vscode/
.idea/
*.swp
*~
